.column {
    padding: 0 200px;
    height: 78px;
    background: rgba(0, 0, 0, 0.5);
}

.column a {
    display: block;
    width: 148px;
    height: 100%;
    color: #fff;
    font-weight: 700;
    font-size: 18px;
}

.column a:hover {
    color: salmon;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
}

.column .column_little {
    width: 600px;
    margin: 0 auto;
}

.column .column_left,
.column .column_center,
.column .column_right,
.column .column_right_1 {
    text-align: center;
    line-height: 78px;
    float: left;
    width: 150px;
    height: 100%;
    /* background: #fff; */
}

